.rocket
  &__body
    position: relative
    &:after
      position: absolute
      content: ''
      display: block
      top: 0
      width: 100%
      height: 100%
      background: url(../img/rockets/stork-bg.jpg) no-repeat
      background-size: cover 
      background-position: center
      filter: brightness(0.3) grayscale(0.5)
      z-index: -10
      transition: 1.5s
    &--eagle 
      &:after 
        background: url(../img/rockets/eagle-bg.jpg) no-repeat
        background-size: cover 
    &--sparrow
      &:after 
        background: url(../img/rockets/sparrow-bg.jpg) no-repeat
        background-size: cover 
  &__wrapper 
    height: 70vh
    @extend %flex-center 
    position: relative
  &__img
    display: block
    height: 70vh
  &__title 
    position: absolute
    font-size: 20vw
    text-transform: uppercase
    letter-spacing: 5vw
    margin-right: -5vw
    filter: brightness(0.3) grayscale(0.5)
    z-index: -5
    &--sparrow 
      font-size: 10vw
  &-about, &-payload, &-engine, &-information
    &__wrapper
      height: 70vh
      @extend %flex-between 
      @include media($desktop)
        flex-direction: column
        overflow-y: scroll
    &__image 
      width: 40%
      margin: 0 20px
      @include media($desktop) 
        width: 70%
        margin: 20px 0
    &__img
      width: 100%
      max-height: 70vh
      object-fit: contain
    &__text-right, &__text-left 
      width: 60%
      font-size: 25px
      font-style: italic
      color: #666666 
      @include media(1920px) 
        font-size: 20px
      @include media($desktop) 
        width: 100%
    &__text-left
      position: relative 
      padding-bottom: 120px
      left: -100px
      opacity: 0
      @include media($desktop) 
        padding-bottom: 0
    &__text-right
      position: relative  
      left: 100px
      opacity: 0 
    &__title 
      font-size: 50px
      color: #fff
      font-style: normal
      margin-bottom: 30px
  &-payload 
    &__image 
      position: relative
      &:before
        position: absolute
        content: ''
        display: block
        left: 50% 
        top: 50%
        transform: translate(-50%, -50%)
        width: 400px
        height: 400px
        background-color: #18181B
        border-radius: 50%
        z-index: -10
    &__img 
      width: 100%
    &__text-left, &__text-right
      opacity: 1
      left: 0
      width: 40%
    &__text-left 
      padding-bottom: 0
    &__left-title 
      color: #787878
      font-size: 30px
      font-style: normal
      margin-bottom: 20px
      span 
        display: block
        margin-top: 5px
        color: #fff
  &-engine 
    &__image 
      width: 100%
    &__img 
      width: 100%
    &__text-left, &__text-right
      opacity: 1
      left: 0
      width: 60%
    &__text-left 
      padding-bottom: 0
  &-information 
    &__text-left
      opacity: 1
      left: 0
      width: 50%
      padding-bottom: 0
    &__part 
      font-style: normal
      line-height: 1.5
      margin-bottom: 30px
    &__image 
      width: 100%



      
